/*******************
 *     global      *
 ******************/
html, body {
  height: 100%;
  width: 90%;
  background-color: #333333;
}

*{
  font-family: Microsoft JhengHei;
}
/*******************
 *   background    *
 ******************/
#main{
  height: 100%;
  width: 90%;
}
.bg{
    min-width: 512px;
    min-height: 370px;
    left: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
    background-image: url("../img/bg.jpg");
    background-size: 100% 100%;
    position: absolute;
    
}
.peoplePic{
  width: 32%;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;
  box-shadow: 4px 4px 25px #505050;
}
.peoplePic img{
  width: 100%;
}
.record{
  position: absolute;
  margin-top: 51%;
  margin-left: 8%;
  font-size: 14px;
  color: #686868;
}
.name{
  margin-left: 8%;
  position: absolute;
  margin-top: 37%;
  color: white;
  line-height: 20px;
}
.FirstName{
  font-size: 11px;
}
.LastName{
  font-size: 26px;
  font-weight: 900;
}
.saying{
  position: absolute;
  right: 5%;
  font-size: 12px;
  color: #686868;
}